@import 'nib'
//@import 'jeet'
@import 'rupture'

//headers
h1
  font-size 2.7em

h2
  font-size 1.8em

h3
  font-size 1.5em

h4
  font-size 1.2em

h5
  font-size 1em

p, a
  font-size 1em

h1, h2, h3, h4, h5, p, a, input
  font-family Ekibastuz

@font-face
  font-family: Ekibastuz; /* Имя шрифта */
  src: url(../assets/fonts/Ekibastuz.otf); /* Путь к файлу со шрифтом */
  font-weight normal
  font-style normal

@font-face
  font-family: Ekibastuz; /* Имя шрифта */
  src: url(../assets/fonts/Ekibastuz-Bold.otf); /* Путь к файлу со шрифтом */
  font-weight bold
  font-style normal

// variables of colors

main_white_color = #ffffff
main_black_color = #000000

main_dark_grey_color = #424242

main_middle_dark_grey_color = #81888c
main_middle_grey_color = #e0e0e0

main_light_grey_color = #f0f0f0

main_cyan_color = #80deea

main_red_color = #FF5252

main_dark_red_color = #e94343

main_green_color = #55e0a7

main_dark_green_color = #19560f

// reset all styles
global-reset()

// default prefences
body
  font-family Ekibastuz
  background-color main_white_color

.display_none
  display none

.display_block
  display block

.height_full
  height 100%

.height_auto
  height auto
