@require 'prefences/config.styl'


@require 'assets/header.styl'
@require 'assets/login.styl'
@require 'assets/registration.styl'

@require 'assets/components/wrapperComponents.styl'
@require 'assets/components/sideMenu.styl'
@require 'assets/components/videoCameraComponent.styl'
@require 'assets/components/peopleComponent.styl'

