extends layout

block content
  div.loginPasswordWrapper
    h3 Введите логин и пароль
    form(role='form', action="/login",method="post", autocomplete="off")

      p Логин:
      input(type='text', name="username", placeholder='Имя пользователя', autocomplete="off", value="", required)

      p Пароль:
      input(type='password', name="password", placeholder='Пароль', autocomplete="off", value="", required)

      if(info)
        .infoBlock
        p = info

      button(type='submit').button
        p Войти

      div.button
        a(href="/registration") Регистрация


