.header
  background-color main_white_color
  max-width 100%
  border-bottom 1px solid main_middle_dark_grey_color

  .navigation
    display block
    max-width 100%
    text-align right
    clearfix()
    .linkWrapper
      display inline-block
      text-align center
      padding 1em 2%
      a
        color main_black_color
        text-decoration none
        &:hover, &:active
          color main_cyan_color







