.admin-acc-component_wrapper
  opacity 0.8

  .admined_user_wrapper
    display flex
    flex-wrap wrap

    .account-creating_wrapper
      flex-grow 1

      display flex
      flex-direction column
      align-items flex-start

      margin 0.5em
      padding 0.5em

      background main_light_grey_color

      box-shadow 1px 1px 1px main_middle_dark_grey_color

      .name_wrapper

        .name
          margin-left auto

          p
            display block
            padding 0.2em
            font-weight bold

      .creating_form_wrapper
        align-self center

        padding 0.5em

        .name-input
          padding 0.25em 0

          .input_wrapper
            padding 0.25em 0
            margin 0 auto

            .name_block
              padding-left 0.2em

              p
                padding-bottom 0.2em
                font-weight bold

            .input_block
              display inline-block
              text-align: right

              input[type="text"]
                width 10em

                border: 0
                background: #ffffff !important
                outline: none
                height: 1.4em
                color: black
                font-size: 1.3em

                &:focus
                  box-shadow inset 0 0 3px 0 main_dark_grey_color

        .permission_wrapper
          padding 0.25em 0

          .header_block
            font-weight bold

          .checkbox_wrapper
            padding 0.3em 0 0.3em 1em

            .name_block
              display inline-block
              padding-right 0.5em

              width 15em

            .checkbox_block
              display inline-block

              input[type="checkbox"]

                &:hover, &:active
                  cursor pointer


        .submitButton
          text-align: center
          padding 1em 0

          input[type="button"]
            outline: none
            border: 1px solid main_dark_grey_color
            background: #ffffff
            font-size: 1em

            &:hover, &:active
              cursor pointer

    .admined_user
      flex-grow 1

      margin 0.5em

      .name_wrapper

        .name
          margin-left auto

          p
            display block
            padding 0.2em
            font-weight bold

      .control-accounts-wrapper
        display flex
        flex-direction column

        .control-account
          width 15em

          padding 0.5em
          margin-bottom 0.5em

          display flex
          align-items center

          background-color main_light_grey_color
          box-shadow 1px 1px 1px main_middle_dark_grey_color

          .img_place
            flex-grow 1

            padding 0.3em

            img, p
              border-radius 100%

            p
              text-align center
              padding 0.1em 0.2em
              border 2px dashed main_middle_dark_grey_color
              font-size 2em
              color main_middle_dark_grey_color
              margin 0 auto

            img
              display block
              border-radius 100%
              width 50%
              height auto
              border 2px solid main_middle_grey_color

          .username_place
            flex-grow 2

            padding 0.3em

          .button_wrapper
            flex-grow 1

            .button
              text-align right

              padding 0.3em

              p
                padding 0.6em 0.7em

                border 2px solid main_middle_dark_grey_color
                border-radius 100%

                background-color main_middle_grey_color

                font-size 1em

                &:hover, &:active
                  cursor pointer
                  box-shadow inset 0 0 10px 0 main_middle_dark_grey_color

