.chat-component_wrapper
  background main_light_grey_color
  opacity 0.8

  .chat-component-block_wrapper
    display: flex

    .conference-area_wrapper
      flex-grow 4
      display flex
      flex-direction column
      justify-content space-between

      .conference-sides_wrapper
        flex-grow 1
        background main_middle_grey_color
        display flex
        flex-wrap wrap
        justify-content space-around
        align-items center
        padding 0.25em

        .info_block
          display flex
          justify-content center
          align-items center

          p
            padding 2em 1em 2em 1em
            text-align center

        .side_wrapper
          background main_light_grey_color
          margin 0.25em

          .signal_wrapper
            width auto
            padding 0.75em
            border-bottom 2px solid main_middle_grey_color

            video, canvas
              display block
              background-color main_white_color
              width 320px
              height 240px

          .username_wrapper

            .username
              color main_black_color
              padding 0.3em 0 0.3em 0

              p
                text-align center

      .conference-disconnect-block-wrapper

        .conference-close-button_wrapper
          display flex
          justify-content center

          .button
            padding 0.4em 0

            p
              display block
              padding 0.7em 0.8em
              border 2px dashed main_middle_grey_color
              border-radius 100%

              font-size 1.3em
              color main_red_color
              margin 0 auto
              &:hover, &:active
                cursor pointer
                box-shadow inset 0 0 20px 0 main_cyan_color
                border-style solid

    .friend-list-area_wrapper
      flex-grow 1

      .search-area_wrapper
        display flex
        flex-direction column

        padding 0.5em
        border-bottom 2px solid main_middle_grey_color

        .name_wrapper

          p
            padding-bottom 0.2em
            font-weight bold

        .search_wrapper

          input[type="text"]
            padding-left 5px
            padding-right 5px

            width calc(100% - 10px)

            border-width 0
            border-radius: 1px

            background #ffffff !important // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
            outline none // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
            height 1.4em
            color black
            font-size 1.3em

            box-shadow inset 0 0 3px 0 main_dark_grey_color

      .friends-area_wrapper
        background main_light_grey_color

        .info_block
          width 100%
          padding-top 1.5em
          border-bottom 2px solid main_middle_grey_color

          p
            padding-left 3%
            padding-bottom 0.5em
            color main_black_color

        .friend_wrapper
          padding 0.25em 0.25em
          width auto
          border-bottom 1px solid main_middle_grey_color
          :nth-last-child
            border-bottom none

          .friend
            width 100%
            display flex
            align-items center

            .img_place
              padding 0.3em

              img, p
                border-radius 100%

              p
                text-align center
                padding 0.3em 0.4em
                border 2px dashed main_middle_dark_grey_color
                font-size 2em
                color main_middle_dark_grey_color
                margin 0 auto

              img
                display block
                border-radius 100%
                width 50%
                height auto
                border 2px solid main_middle_grey_color

            .username_wrapper
              padding 0 0.5em 0 0.3em

              .username
                color main_middle_dark_grey_color
                padding-bottom 0.3em
                &:nth-child(1)
                  color main_black_color
                &:last-child
                  padding-bottom 0

            .button_wrapper
              margin-left auto
              padding 0.3em

              .button
                text-align center
                padding 0.4em 0

                p
                  display block
                  padding 0.6em 0.7em
                  border 2px dashed main_middle_grey_color
                  border-radius 100%

                  font-size 1.3em
                  margin 0 auto

                  &:hover, &:active
                    cursor pointer
                    box-shadow inset 0 0 20px 0 main_cyan_color
                    border-style solid

                p.in_chat
                  color main_red_color

                p.out_chat
                  color main_dark_grey_color
