.userPreferences-component_wrapper
  background-color main_light_grey_color
  opacity 0.8

  .userPreferences-area_wrapper
    display flex
    flex-direction column
    align-items center

    padding 0.5em

    .name_wrapper
      padding 0.5em

      .name

        p
          font-weight bold

    .userPreferences_wrapper

      .submitButton
        text-align center

        padding 1em

        input[type="button"]
          width 7.5em

          outline none // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
          border 1px solid main_middle_dark_grey_color //цвет рамки
          background-color #ffffff
          text-align center
          font-size: 1em

          &:hover, &:active
            cursor pointer

      .module_wrapper
        display flex

        padding 0.5em

        .name_block
          padding 0.25em
          font-weight bold

        .input_block
          padding 0.25em
          margin-left auto

          input[type="text"]
            padding-left 5px
            padding-right 5px

            width calc(100% - 10px)

            border 0
            background-color: #ffffff !important // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
            outline: none // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
            height: 1.4em // высота на свое усмотрение
            color: black //цвет шрифта в обычном состоянии
            font-size: 1.3em // Размер шрифта

            box-shadow inset 0 0 3px 0 main_dark_grey_color
