.userPreferences-component_wrapper
  background-color main_light_grey_color
  opacity 0.8
  margin-left auto

  .userPreferences-area_wrapper
    display flex
    flex-direction column
    justify-content center

    border-width 0 0 2px 0
    border-color main_middle_grey_color
    border-style solid
    width auto

    padding 1em

    .name_wrapper
      width 100%
      padding-bottom 1em

      .name
        width 90%
        margin-left auto

        p
          display block
          padding-bottom 0.2em
          font-weight bold

    .userPreferences_wrapper
      width 100%
      display block
      .submitButton
        width 100%
        text-align center
        padding-top 1em
        input[type="button"]
          margin-bottom 1.5em
          outline none // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
          border 1px solid main_middle_dark_grey_color //цвет рамки
          background-color #ffffff
          text-align center
          font-size: 1em

      .module_wrapper
        display flex

        padding 0.5em 0

        .name_block
          width 30%

          padding-bottom 0.2em
          font-weight bold
        .input_block
          width 70%

          input[type="text"]
           width 10em

           border 0
           background-color: #ffffff !important // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
           outline: none // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
           height: 1.4em // высота на свое усмотрение
           color: black //цвет шрифта в обычном состоянии
           font-size: 1.3em // Размер шрифта
           &:focus
             box-shadow inset 0 0 3px 0 main_dark_grey_color
